In [2]:
 list1 = []

In [3]:
type(list1)

list

In [5]:
list1 = ["Cisco", "Juniper", "Avaya", 10, 10.5, -11]

In [6]:
len(list1)

6

In [8]:
list1[0]

'Cisco'

In [9]:
list1[1]

'Juniper'

In [10]:
list1[-1]

-11

In [11]:
list1[-2]

10.5

In [14]:
list1[2] = 'HP'

In [15]:
list1

['Cisco', 'Juniper', 'HP', 10, 10.5, -11]

In [17]:
list1.append(100)

In [18]:
list1

['Cisco', 'Juniper', 'HP', 10, 10.5, -11, 100]

In [19]:
del list1[4]

In [20]:
list1

['Cisco', 'Juniper', 'HP', 10, -11, 100]

In [21]:
list1.pop(0)

'Cisco'

In [22]:
list1

['Juniper', 'HP', 10, -11, 100]

In [23]:
list1.remove("Juniper")

In [25]:
list1

['HP', 10, -11, 100]

In [26]:
list1.insert(2, "Nortel")

In [27]:
list1

['HP', 10, 'Nortel', -11, 100]

In [28]:
list2 = [9, 99, 999]

In [30]:
list1.extend(list2)

In [31]:
list1

['HP', 10, 'Nortel', -11, 100, 9, 99, 999]

In [32]:
list1.index(-11)

3

In [33]:
list1.append(10)

In [34]:
list1

['HP', 10, 'Nortel', -11, 100, 9, 99, 999, 10]

In [35]:
list1.count(10)

2

In [38]:
list2.append(1)
list2.append(25)
list2.append(500)

In [39]:
list2.sort()

In [40]:
list2

[1, 1, 9, 25, 99, 500, 999]

In [41]:
list2.reverse()

In [42]:
list2

[999, 500, 99, 25, 9, 1, 1]

In [45]:
sorted(list2)

[1, 1, 9, 25, 99, 500, 999]

In [44]:
sorted(list2, reverse = True)

[999, 500, 99, 25, 9, 1, 1]

In [48]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [49]:
set1 = {1, 2, 3, 4}
set2 = {3, 5 , 8}

In [50]:
set1.intersection(set2)

{3}

In [51]:
set2.intersection(set1)

{3}

In [52]:
set1.difference(set2)

{1, 2, 4}

In [53]:
set2.difference(set1)

{5, 8}

In [54]:
set1.union (set2)

{1, 2, 3, 4, 5, 8}

In [55]:
set1.pop ()

1

In [56]:
set1

{2, 3, 4}

In [58]:
set1.clear()

In [59]:
set1

set()

In [61]:
fs1 = frozenset(list1)

In [62]:
fs1

frozenset({-11, 10, 100, 9, 99, 999, 'HP', 'Nortel'})

In [63]:
type(fs1)

frozenset

In [68]:
my_tuple = ()

In [69]:
type(my_tuple)

tuple

In [71]:
my_tuple = (9,)

In [72]:
my_tuple = (1, 2, 3, 4, 5, 6)

In [73]:
my_tuple

(1, 2, 3, 4, 5, 6)

In [74]:
my_tuple[-2]

5

In [75]:
my_tuple[1]

2

In [76]:
tuple2 = (1, 2, 3, 4)
(a, x, y, z) = tuple2

In [77]:
tuple2

(1, 2, 3, 4)

In [82]:
a, x, y, z

(1, 2, 3, 4)

In [83]:
# Tuples are immutable (cant preform operations on elements)
# Lists are mutable (can opperate on elements)

In [84]:
# Tuples use ()
# Lists use []

In [85]:
a = ()
b = []

In [87]:
type(a), type(b)

(tuple, list)

In [90]:
tuple2 + my_tuple

(1, 2, 3, 4, 1, 2, 3, 4, 5, 6)

In [92]:
tuple2 * 2

(1, 2, 3, 4, 1, 2, 3, 4)

In [93]:
tuple2[:]

(1, 2, 3, 4)

In [94]:
tuple2[-2]

3

In [95]:
tuple2[::-1]

(4, 3, 2, 1)

In [100]:
tuple2[::2]

(1, 3)

In [96]:
tuple2[-2:]

(3, 4)

In [97]:
tuple2

(1, 2, 3, 4)

In [98]:
3 in tuple2

True

In [99]:
3 not in tuple2

False

In [102]:
25%15

10

In [114]:
for i in range(0, 10, 2):
    print(i, end =" ")

0 2 4 6 8

In [125]:
for i in range(0, 10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
Vendor: Cisco, Model: 2600, IOS: 12.4, Ports: 4

In [129]:
dict1 = {}

In [130]:
type(dict1)

dict

In [132]:
dict1 = {'Vendor': 'Cisco', 'Model': 2600, 'IOS': 12.4, 'Ports': 4}

In [133]:
dict1

{'Vendor': 'Cisco', 'Model': 2600, 'IOS': 12.4, 'Ports': 4}

In [135]:
dict1['Vendor']

'Cisco'

In [136]:
dict1['IOS']

12.4

In [139]:
dict1['RAM'] = '128'

In [140]:
dict1

{'Vendor': 'Cisco', 'Model': 2600, 'IOS': 12.4, 'Ports': 4, 'RAM': '128'}

In [141]:
del dict1["Ports"]

In [142]:
dict1

{'Vendor': 'Cisco', 'Model': 2600, 'IOS': 12.4, 'RAM': '128'}

In [143]:
len(dict1)

4

In [146]:
"IOS" in dict1

True

In [148]:
dict1.keys()

dict_keys(['Vendor', 'Model', 'IOS', 'RAM'])

In [149]:
dict1.values()

dict_values(['Cisco', 2600, 12.4, '128'])

In [150]:
dict1.items()

dict_items([('Vendor', 'Cisco'), ('Model', 2600), ('IOS', 12.4), ('RAM', '128')])

In [151]:
num = 2

In [152]:
num2 = str(num)

In [155]:
num2, type(num2)

('2', str)

In [157]:
bin(num)

'0b10'

In [158]:
hex(num)

'0x2'

In [160]:
dict1

{'Vendor': 'Cisco', 'Model': 2600, 'IOS': 12.4, 'RAM': '128'}

In [263]:
x = 20

In [302]:
def num(x):
    if x > 5:
        print("x is greater than 5")

    elif x == 5:
        print("x is equal to 5")

    else:
        print("x is less than 5")
        print(x*2)
    return

In [308]:
num(10)

x is greater than 5

In [265]:
r = range(10)

In [268]:
for i in r:
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [269]:
len('Vendors')

7

In [270]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [323]:
x = 2

while x <= 10:
    print(x)
    x = x + 1
else:
    print("x is greater than 10")

2
3
4
5
6
7
8
9
10
x is greater than 10

In [336]:
x = "Cisco"

In [337]:
if "i" in x:
    if len(x) > 3:
        print(x, len(x))
    else:
        print("Input is less than 3")
else:
    print("Input does not have the letter i and is less than 3 ")

Cisco 5

In [338]:
10**10

10000000000

In [340]:
x[4:]

'o'

In [353]:
for number in range(10):
    if number == 7:
        break # stops execution and ignores print below. stops at 7
    print(number)

0
1
2
3
4
5
6